<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Login Page - Ace Admin</title>

        <meta name="description" content="User login page" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- basic styles -->
        {%load staticfiles%}
        <link rel="stylesheet" href="{% static 'main/assets/ace/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'main/assets/ace/css/bootstrap-responsive.min.css' %}" />
        <link rel="stylesheet" href="{% static 'main/assets/ace/css/font-awesome.min.css' %}" />            

        <!--[if IE 7]>
        <link rel="stylesheet" href="{% static 'main/assets/ace/css/font-awesome-ie7.min.css' %}" />
        <![endif]-->    
        <link rel="stylesheet" href="{% static 'main/assets/ace/css/ace-fonts.css' %}" />
        <link rel="stylesheet" href="{% static 'main/assets/ace/css/ace.min.css' %}" />
        <link rel="stylesheet" href="{% static 'main/assets/ace/css/ace-responsive.min.css' %}" />
        <link rel="stylesheet" href="{% static 'main/assets/ace/css/ace-skins.min.css' %}" />

        <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static 'main/assets/ace/css/ace-ie.min.css' %}" />
        <![endif]-->
        <script src="{% static 'main/assets/ace/js/ace-extra.min.js' %}"></script>

    </head>

    <body class="login-layout">
{%block content%}
{%endblock%}
        <!-- basic scripts -->

        <!--[if !IE]> -->

        <script type="text/javascript">
            window.jQuery || document.write("<script src='assets/ace/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
        </script>

        <!-- <![endif]-->

        <!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/ace/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

        <script type="text/javascript">
            if("ontouchend" in document) document.write("<script src='assets/ace/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
        </script>
        <script src="assets/js/bootstrap.min.js"></script>

        <!-- page specific plugin scripts -->

        <!-- ace scripts -->

        <script src="assets/ace/js/ace-elements.min.js"></script>
        <script src="assets/ace/js/ace.min.js"></script>

        <!-- inline scripts related to this page -->

        <script type="text/javascript">
            function show_box(id) {
             jQuery('.widget-box.visible').removeClass('visible');
             jQuery('#'+id).addClass('visible');
            }
        </script>
    </body>
</html>




