{% extends "decisionarea.html" %}

{% block title %}Quarter Info{% endblock%}

{% block content %}

<form method="post" id='decisionform'> {% csrf_token %}
  <div class='span9'>

    <div class='row'>
      <div class='span11 offset1'>
          <h2>Deals</h2>
      </div>
    </div>
    <hr>
{{errors}}
    <div class='row'>
      <div class='span11 offset1'>
          <h4>Partnerships</h4>
      </div> 
    </div>
    <div class='row'>
      <div class='span11 offset1'>
        <table class="table table-hover">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Cost</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input id="id_p1" name="p1" type="checkbox" {% if formvalues.p1 %} checked {% endif %}/></td>
                <td>BYD Corp</td>
                <td>$500,000</td>
                <td>Plastic/Glass supply company</td>
                <td>Men 20-35</td>
              </tr>
              <tr>
                <td><input id="id_p2" name="p2" type="checkbox" {% if formvalues.p2 %} checked {% endif %}/></td>
                <td>Inspiron LLC</td>
                <td>$1,200,000</td>
                <td>Software Company</td>
                <td>Men 20-35</td>
              </tr>
              <tr>
                <td><input id="id_p3" name="p3" type="checkbox" {% if formvalues.p3 %} checked {% endif %}/></td>
                <td>Shipit LLC</td>
                <td>$700,000</td>
                <td>Logistic Company</td>
                <td>Men 20-35</td>
              </tr>
              <tr>
                <td><input id="id_p4" name="p4" type="checkbox" {% if formvalues.p4 %} checked {% endif %}/></td>
                <td>Shipit LLC</td>
                <td>$700,000</td>
                <td>Logistic Company</td>
                <td>Men 20-35</td>
              </tr>
              <tr>
                <td><input id="id_p5" name="p5" type="checkbox" {% if formvalues.p5 %} checked {% endif %}/></td>
                <td>Shipit LLC</td>
                <td>$700,000</td>
                <td>Logistic Company</td>
                <td>Men 20-35</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>


    <div class='row'>
      <div class='span11 offset1'>
          <h4>Acquisitions</h4>
      </div>
    </div>
    <div class='row'>
      <div class='span11 offset1'>
        <table class="table table-hover">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Cost</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input id="id_a1" name="a1" type="checkbox" {% if formvalues.a1 %} checked {% endif %}/></td>
                <td>BYD Corp</td>
                <td>$500,000</td>
                <td>Plastic/Glass supply company</td>
                <td>Men 20-35</td>
              </tr>
              <tr>
                <td><input id="id_a2" name="a2" type="checkbox" {% if formvalues.a2 %} checked {% endif %}/></td>
                <td>Inspiron LLC</td>
                <td>$1,200,000</td>
                <td>Software Company</td>
                <td>Men 20-35</td>
              </tr>
              <tr>
                <td><input id="id_a3" name="a3" type="checkbox" {% if formvalues.a3 %} checked {% endif %}/></td>
                <td>Shipit LLC</td>
                <td>$700,000</td>
                <td>Logistic Company</td>
                <td>Men 20-35</td>
              </tr>
              <tr>
                <td><input id="id_a4" name="a4" type="checkbox" {% if formvalues.a4 %} checked {% endif %}/></td>
                <td>Shipit LLC</td>
                <td>$700,000</td>
                <td>Logistic Company</td>
                <td>Men 20-35</td>
              </tr>
              <tr>
                <td><input id="id_a5" name="a5" type="checkbox" {% if formvalues.a5 %} checked {% endif %}/></td>
                <td>Shipit LLC</td>
                <td>$700,000</td>
                <td>Logistic Company</td>
                <td>Men 20-35</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>

  <div class='span11 offset1'><input type="submit" value= "Update" name="add" class="btn"/></div>
  </div></div> 
</form>
{% endblock %}