{% extends "decisionarea.html" %}

{% block title %}Quarter Info{% endblock%}

{% block content %}


  <div class='span9'>

    <div class='row'>
      <div class='span11 offset1'>
          <h2>Financials</h2>
      </div>
    </div>
    <hr>

<!-- <p>
  <button class="btn btn-primary" type="button">View Statements</button>
</p>
 -->
    <div class='row'>
      <div class='span11 offset1'>
          <h4>Take Out Loan</h4>
      </div>
    </div>
    <div class='row'>
      <div class="input-prepend span3 offset2">
        <span class="add-on">$</span>
        <input id="appendedPrependedInput" type="text" class='input-small' value='0'>
      </div>
      <div class='span7 pull-left'>        
          <label class="checkbox">
            <input type="checkbox" value="">
            Enter amount to take out in short term loan (6% per Quarter)
          </label>
      </div>
    </div>


    <div class='row'>
      <div class='span11 offset1'>
          <h4>Balance Sheet</h4>
      </div>
    </div>

    <div class='row'>
      <div class='span11 offset1'>
        <table class="table table-hover">
            <thead>
              <tr>
                <th></th>
                <th>2011</th>
                <th>2012</th>
                <th>2013</th>
                <th>2014 Projections</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Assets</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Cash</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Inventory</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Plant, Property, Equipment</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Intangible Assets</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Liabilites</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Short Term Liabilities</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Long Term Liabilities</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Stockholders Equity</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Retained Earnings</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>

    <hr>

    <div class='row'>
      <div class='span11 offset1'>
          <h4>Income Statement</h4>
      </div>
    </div>

    <div class='row'>
      <div class='span11 offset1'>
        <table class="table table-hover">
            <thead>
              <tr>
                <th></th>
                <th>2011</th>
                <th>2012</th>
                <th>2013</th>
                <th>2014 Projections</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Revenues</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Cost of Goods Sold</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Expenses</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>SGA Expense</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Utility Expense</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Operating Income (EBIT)</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Interest Expense</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Taxes</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Net Income</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>




  </div>

{% endblock %}