{% extends "base.html" %}

{% block title %}Add OpenShift{% endblock%}

{% block content %}

          <div class="page-header position-relative">
            <h1>
              Add OpenShift
              <small>
                <i class="icon-double-angle-right"></i>
                Add an Openshift for employees to grab
              </small>
            </h1>
          </div><!-- /.page-header -->


<div class="row-fluid">
  <div class='span12'>

          <form method='post' class='form-inline'>{% csrf_token %}
          {{form}}
          <input type='submit' class='btn btn-small'name='add'>
          </form>


          <table id="sample-table-1" class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Unit</th>
                <th>Hospital</th>
                <th>Position</th>
                <th>Date</th>
                <th>Start Time</th>
                <th class='hidden-480'>Finish Time</th>
                <th>Hours</th>
                <th class='hidden-480'>Description</th>
                <th></th>
              </tr>
            </thead> 

              <tbody>
                  {%for wd in workday%}
                  <form method='post'>{% csrf_token %}
                  <tr>
                    <td>{{wd.unit}}</td>
                    <td>{{wd.hospital}}</td>
                    <td>{{wd.position}}</td>
                    <td>{{wd.start|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{wd.start|time:"h:i a"}}</td>
                    <td class='hidden-480'>{{wd.end|time:"h:i a"}}</td>
                    <td>{{wd.hours}}</td>
                    <td class='hidden-480'>{{wd.description}}</td>
                    <td>
                      <input type='hidden' value='{{wd.id}}' name='id'/>
                      <button type='submit' name='delete' class='btn-danger btn btn-mini'><i class='icon-trash'></i></button>
                    </td>
                  </tr>
                  </form>
                  {% empty %}
                  <tr><td colspan='10'>No open shifts at this time! Check back soon.</td></tr>
                  {% endfor %}
              </tbody>
          </table>
  </div>
</div>

{% endblock %} 


{% block extrascripts %}{%load staticfiles%}

<script src="{% static 'main/jquery-ui.js' %}"></script>
<script src="{% static 'main/jquery-ui-timepicker-addon.js' %}"></script> 

<style type="text/css">
.ui-slider-handle{
  position: relative;
}

.ui-datepicker{
  border: 0px;
}
</style>


<script type="text/javascript">


$(function() {
    $('#id_start').datetimepicker({dateFormat: "yy-mm-dd", timeFormat: 'HH:mm', stepMinute:15});
    $('#id_end').datetimepicker({dateFormat: "yy-mm-dd", timeFormat: 'HH:mm', stepMinute:15});
  });

</script>

{% endblock %}




