{% extends "basemodelindex.html" %}


{% block title %}
{% endblock %}

{% block head %}

<style type="text/css">
    body {
        padding-top: 80px;
      }
</style>

{% endblock %}

{% block content %}

<div class='container'>
	<div class='row'>
		<h2>Benefits</h2>
		<h4>Efficently Manage Nursing Labor</h4>
		<ul>
			<li>Easy to Manage <b>Flex Pool</b></li>
			<li>Save time on scheduling</li>
			<li>Review OT, Agency to reduce costs</li>
			<li>Improve Employee Satisfaction</li>
			<li>Compare with Metrics</li>
			<li>Manage labor budget</li>
		</ul>
	</div>
</div>


{% endblock %}
