{% extends "frontendbase.html" %}


{% block title %}
{% endblock %}

{% block head %}
{% endblock %}


{% block breadcrumbs %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Benefits</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li><a href="">Benefits</a> <span class="divider">/</span></li>
            <li class="active">Overview</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
{% endblock %}

{% block content %}

<!--=== Content Part ===-->
<div class="container">     
    <div class="row-fluid">
        <!-- Our Services -->
        <div class="row-fluid">
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals.</p><br>

            <div class="row-fluid servive-block">
                <a href="{% url 'benefits_executives' %}">
                  <div class="span4">
                    <h4>For Executives</h4>
                    <p><i class="icon-group"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </div>
                </a>

                <a href="{% url 'benefits_managers' %}">
                <div class="span4">
                    <h4>For Managers</h4>
                    <p><i class="icon-hospital"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </div>
                </a>

                <a href="{% url 'benefits_nurses' %}">
                <div class="span4">
                    <h4>For Nurses</h4>
                    <p><i class="icon-user-md"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </div>
                </a>

            </div><!--/row-fluid-->
        </div><!--/row-fluid-->        
        <!--//End Our Services -->
    </div><!--/row-fluid-->

    <!-- Tabs and Carousel-->
    <div class="row-fluid margin-bottom-10">
        <!-- Accardion and Posts -->
        <div class="span12">
            <div class="headline"><h3>Unify Accardion</h3></div>
            <!-- Accardion -->
            <div class="accordion acc-home" id="accordion2">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                      Anim pariatur cliche reprehenderit
                    </a>
                  </div>
                  <div id="collapseOne" class="accordion-body in collapse" style="height: auto;">
                    <div class="accordion-inner">
                      <p><img class="lft-img-margin pull-left img-width-200" src="assets/img/work/work1.jpg" alt="" /> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                    </div>
                  </div>
                </div><!--/accordion-group-->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                      Nihil anim keffiyeh helvetica
                    </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div><!--/accordion-group-->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                      Brunch 3 wolf moon tempor
                    </a>
                  </div>
                  <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div><!--/accordion-group-->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                      Labore wes anderson cred 
                    </a>
                  </div>
                  <div id="collapseFour" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div><!--/accordion-group-->
            </div><!--/accardion-->
        </div><!--/span7-->
    </div><!--/row-fluid-->
    <!-- //End Tabs and Carousel -->


</div><!--/container-->     
<!--=== End Content Part ===-->


{% endblock %}
