{% extends "frontendbase.html" %}


{% block title %}
{% endblock %}

{% block head %}
{% endblock %}
  
{% block content %}{% load staticfiles %}

<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>SPEND LESS</i><br/><i>ON LABOR</i></h2>
            <p><i>Labor costs are</i> <br /> <i>the single largest cost</i> <br /> <i>in a healthcare system</i></p>
            <div class="da-img"><img src="{% static 'main/assets/unify/plugins/parallax-slider/img/1.png' %}" alt="" /></div>
        </div>
        <div class="da-slide">
            <h2><i>EFFICIENTLY</i> <br /> <i>SCHEDULE</i> <br /></h2>
            <p><i>Speed up the scheduling</i> <br /> <i>process and fill open slots</i><br /> <i>more quickly</i> </p>
            <div class="da-img span6">
              <div class="span6">
        </div>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>SUPERIOR</i> <br /> <i>COMMUNICATION</i></h2>
            <p><i>Get the right staff</i> <br /> <i>at the right time</i> <br /></p>
            <div class="da-img"><img src="{% static 'main/assets/unify/plugins/parallax-slider/img/html5andcss3.png' %}" alt="image01" /></div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>    
        </nav>
    </div><!--/da-slider-->
</div><!--/slider-->
<!--=== End Slider ===-->

<!--=== Purchase Block ===-->
<div class="row-fluid purchase margin-bottom-30"> 
    <div class="container">
    <div class="span9">
            <span>MediStaff is a complete scheduling system with a cost managemnet focus.</span>
            <p> We provide a software-as-a-service (SaaS) solution to reduce labor costs.  Our tools include OpenShift&trade;, a package to fill open shifts across the system, an intuitive, flexible, calendar scheduling system,  and census forecasting.  To learn more about the features Medistaff can provide, <a href="/features" class='color-green'>click here</a></p>
        </div>
        <a href="/contact" class="btn-buy hover-effect">Contact us now!</a>
    </div>
</div><!--/row-fluid-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container"> 
  <!-- Service Blocks -->
  <div class="row-fluid">
      <div class="span4">
        <div class="service clearfix">
                <i class="icon-resize-small"></i>
          <div class="desc">
            <h4>OpenShift&trade;</h4>
                    <p>Opensfhit&trade; is a flex labor scheduling package to reduce OT and Agency costs.  Easily fill open shfits across hospitals!  Shifts can be posted for individuals, as well as put out in the open for qualified workers to grab.  No more excessive OT and agency labor costs.</p>
          </div>
        </div>  
      </div>
      <div class="span4">
        <div class="service clearfix">
                <i class="icon-calendar"></i>
          <div class="desc">
            <h4>SmartSchedule&trade;</h4>
                    <p>Easily manage nurse labor with an intuitive scheduling system built on modern techonologies.  Text employees about shifts!  Schedule based on CensusPredict&trade;!  Find the right nurse for the job!</p>
          </div>
        </div>  
      </div>
      <div class="span4">
        <div class="service clearfix">
                <i class="icon-plane"></i>
          <div class="desc">
            <h4>Cost Management</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
          </div>
        </div>  
      </div>          
  </div><!--/row-fluid-->
  <!-- //End Service Blokcs -->

  <!-- Recent Works -->
  <div class="headline"><h3>Recent Works</h3></div>
    <ul class="thumbnails">
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
              <div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="{% static 'main/assets/unify/img/carousel/2.jpg' %}" alt="" /></div>
                    <a class="btn-more hover-effect" href="#">read more +</a>         
                </div>
                <h3><a class="hover-effect" href="#">Our Work</a></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
              <div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="{% static 'main/assets/unify/img/carousel/3.jpg' %}" alt="" /></div>
                    <a class="btn-more hover-effect" href="#">read more +</a>         
                </div>
                <h3><a class="hover-effect" href="#">One More Work</a></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
              <div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="{% static 'main/assets/unify/img/carousel/9.jpg' %}" alt="" /></div>
                    <a class="btn-more hover-effect" href="#">read more +</a>         
                </div>
                <h3><a class="hover-effect" href="#">Another Work</a></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
              <div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="{% static 'main/assets/unify/img/carousel/10.jpg' %}" alt="" /></div>
                    <a class="btn-more hover-effect" href="#">read more +</a>         
                </div>
                <h3><a class="hover-effect" href="#">Huge Work</a></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
            </div>
        </li>
    </ul><!--/thumbnails-->
  <!-- //End Recent Works -->
    
  <!-- Information Blokcs -->
  <div class="row-fluid margin-bottom-20">
      <!-- Who We Are -->
    <div class="span8">
      <div class="headline"><h3>Welcome To UNIFY Template</h3></div>
      <p><img class="pull-left lft-img-margin img-width-200" src="assets/img/carousel/6.jpg" alt="" />Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p> 
            <ul class="unstyled">
              <li><i class="icon-ok color-green"></i> Donec id elit non mi porta gravida</li>
              <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
              <li><i class="icon-ok color-green"></i> Responsive Bootstrap Template</li>
              <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
            </ul><br>

            <blockquote class="hero-unify">
                <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.</p>
                <small>CEO, Jack Bour</small>
            </blockquote>
        </div><!--/span8-->        

  </div><!--/row-fluid--> 
  <!-- //End Information Blokcs -->

  <!-- Our Clients -->
  <div id="clients-flexslider" class="flexslider home clients">
        <div class="headline"><h3>Our Clients</h3></div>  
    <ul class="slides">
      <li>
                <a href="#">
                    <img src="{% static 'assets/unify/img/clients/hp_grey.png' %}" alt="" /> 
                    <img src="{% static 'assets/unify/assets/img/clients/hp.png' %}" class="color-img" alt="" />
                </a>
            </li>

    </ul>
  </div><!--/flexslider-->
  <!-- //End Our Clients -->
</div><!--/container-->   
<!-- End Content Part -->

{% endblock %}

{% block implementing %}{% load static %}
<script type="text/javascript" src="{% static 'main/assets/unify/plugins/parallax-slider/js/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'main/assets/unify/plugins/parallax-slider/js/jquery.cslider.js' %}"></script>
{% endblock %}

{% block pagelevel %}
<script type="text/javascript" src="{% static 'main/assets/unify/js/pages/index.js' %}"></script>
{% endblock %}



{% block extrascripts %}
<script type="text/javascript">
    jQuery(document).ready(function() {
        Index.initParallaxSlider();
    });
</script>
{% endblock %}