{% extends "base.html" %}

{% block title %}Add OpenShift{% endblock%}

{% block head %}{%load staticfiles%}
    <link rel="stylesheet" href="{% static 'main/assets/ace/css/fullcalendar.css' %}" />
{% endblock %}


{% block content %}

      <div class="page-header position-relative">
            <h1>
              Input Dates
              <small>
                <i class="icon-double-angle-right"></i>
                with draggable and editable events
              </small>
            </h1>
          </div><!-- /.page-header -->


          <div class="row-fluid"> 
            <div class="span12">

        <table class='table table-bordered table-hover'>
          <thead>
            <tr> 
              <th>Start</th>
              <th>End</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for wd in hoursavailable %}
            <tr>
              <td>{{wd.start}}</td>
              <td>{{wd.end}}</td>
              <td>
                <form method='post' style='margin: 0'>{% csrf_token %}
                  <input type='hidden' value='{{wd.id}}' name='id'/>
                  <input type='submit' class='btn btn-mini btn-danger' name='delete' value='delete' >
                </form>
              </td>
            </tr>
              {% endfor %}
          </tbody>
        </table>
            </div>
          </div>

          <div class="row-fluid"> 
            <div class="span12">
              <!-- PAGE CONTENT BEGINS -->

              <div class="row-fluid">
                <div class="span9">
                  <div class="space"></div>

                  <div id="calendar"></div>

                    <div id="createEventModal" class="modal hide" aria-hidden="true">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                              <h3>Create Availability</h3>
                          </div>

                          <form method='post' class="form-horizontal">{% csrf_token %}
                              <div class="modal-body">
                                  <div class="control-group">
                                      <label class="control-label">Name:</label>
                                      <div class="controls">
                                            <div style='padding-top:5px; color:green'><b>Available</b></div>
                                            <input type="hidden" id="id_start" name='start'/>
                                            <input type="hidden" id="id_end" name='end' />
                                            <input type="hidden" id="apptAllDay" />
                                      </div>
                                  </div>
                                  <div class="control-group">
                                      <label class="control-label" for="when">When:</label>
                                      <div class="controls controls-row" id="when" style="margin-top:5px;">
                                      </div>
                                  </div>
                              </div>
                              <div class="modal-footer">
                                  <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                  <button type="submit" name='hoursinput' class="btn btn-primary" id="submitButton">Save</button>
                              </div>
                          </form>
                    </div>

                </div>

                <div class="span3">
                  <div class="widget-box transparent">
                    <div class="widget-header">
                      <h4>Draggable events</h4>
                    </div>
                  </div>
                </div>
              </div>

              <!-- PAGE CONTENT ENDS -->
            </div><!-- /.span -->
          </div><!-- /.row-fluid -->

{% endblock %} 


{% block extrascripts %}{%load staticfiles%}

<script src="{% static 'main/jquery-ui.js' %}"></script>
<script src="{% static 'main/jquery-ui-timepicker-addon.js' %}"></script> 

<script src="{% static 'main/assets/ace/js/jquery-ui-1.10.3.custom.min.js' %}"></script> 
<script src="{% static 'main/assets/ace/js/jquery.ui.touch-punch.min.js' %}"></script> 
<script src="{% static 'main/assets/ace/js/fullcalendar.min.js' %}"></script> 
<script src="{% static 'main/assets/ace/js/bootbox.min.js' %}"></script> 


<style type="text/css">
/*    .ui-slider-handle{
      position: relative;
    }*/
</style>


// <script type="text/javascript">
//     $(function() {
//         $('#id_start').datetimepicker({dateFormat: "yy-mm-dd", timeFormat: 'HH:mm', stepMinute:15});
//         $('#id_end').datetimepicker({dateFormat: "yy-mm-dd", timeFormat: 'HH:mm', stepMinute:15});
//       });
// </script>


<script type="text/javascript">

  /* initialize the calendar
  -----------------------------------------------------------------*/
$(document).ready(function() {

    var calendar = $('#calendar').fullCalendar({
    defaultView: 'month',
    buttonText: {
      prev: '<i class="icon-chevron-left"></i>',
      next: '<i class="icon-chevron-right"></i>'
    },
  
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek'
    },
    events: [
    // {% for wd in workday %}
    {
      title: '{{wd.hospital}}- {{wd.unit}}',
      start: new Date({{wd.start|date:'Y'}}, {{wd.start|date:'m'}}-1, {{wd.start|date:'d'}}, {{wd.start|date:'h'}}, {{wd.start|date:'i'}}),
      end: new Date({{wd.end|date:'Y'}}, {{wd.end|date:'m'}}-1, {{wd.end|date:'d'}},{{wd.end|date:'h'}}, {{wd.end|date:'i'}}),
      allDay: false
    },
    // {% endfor %}
    // {% for wd in hoursavailable %}
    {
      title: 'Available',
      start: new Date({{wd.start|date:'Y'}}, {{wd.start|date:'m'}}-1, {{wd.start|date:'d'}}, {{wd.start|date:'h'}}, {{wd.start|date:'i'}}),
      end: new Date({{wd.end|date:'Y'}}, {{wd.end|date:'m'}}-1, {{wd.end|date:'d'}},{{wd.end|date:'h'}}, {{wd.end|date:'i'}}),
      className: 'label-success',
      allDay: false

    },
    // {% endfor %}
    ]
    ,
      editable: true,
      selectable: true,
      //header and other values
      select: function(start, end, allDay) {
          whenend = $.fullCalendar.formatDate(end,'ddd, MMM d, h:mm tt');       // for display in popup
          whenstart = $.fullCalendar.formatDate(start,'ddd, MMM d, h:mm tt');   // for display in popup
          endtime = $.fullCalendar.formatDate(end,'yyyy-MM-dd HH:mm:ss');
          starttime = $.fullCalendar.formatDate(start,'yyyy-MM-dd HH:mm:ss');
          var mywhen = whenstart + '  -  ' + whenend;
          $('#createEventModal #id_start').val(starttime);
          $('#createEventModal #id_end').val(endtime);
          $('#createEventModal #apptAllDay').val(allDay);
          $('#createEventModal #when').text(mywhen);
          $('#createEventModal').modal('show');
       }
    });

  // $('#submitButton').on('click', function(e){
  //   // We don't want this to act as a link so cancel the link action
  //   e.preventDefault();

  //   doSubmit();
  // });

  // function doSubmit(){
  //   $("#createEventModal").modal('hide');

  //   $("#calendar").fullCalendar('renderEvent',
  //       {
  //           title: 'Available',
  //           start: new Date($('#id_calstart').val()),
  //           end: new Date($('#id_calend').val()),
  //           className: 'label-success',
  //           allDay: ($('#apptAllDay').val() == "true"),
  //       },
  //       true);
  //  }
});
    </script>
{% endblock %}




