{% extends "base.html" %}

{% block title %}System Overview{% endblock %}


{% block head %}{% load staticfiles %}

    <link rel="stylesheet" href="{% static 'main/assets/css/jquery-ui-1.10.3.full.min.css' %}" />
    <link rel="stylesheet" href="{% static 'main/assets/css/datepicker.css' %}" />
    <link rel="stylesheet" href="{% static 'main/assets/css/ui.jqgrid.css' %}" />


{% endblock %}


{% block content %}


<!-- <div class="row">
  <div class="span12">
    <h3>Welcome, {{user.username}}</h3>
    <br>
    <h4>Locations</h4>
          <table class='table table-hover table-condensed'>
            <thead>
              <tr>
                <th></th>
                <th>Location</th>
                <th>Unit</th>
              </tr>
            </thead> 
            <tbody>

           {% for u in units %}

              <tr>
                <td>
                  <form method='post' style='margin:0'>{% csrf_token %}
                    <input type='hidden' value='{{u.fullslug}}' name='group'><input type='submit' name='groupsubscribe' value='Unsubscribed' id='{{u.fullslug}}' class='btn btn-danger'/>
                  </form>
                </td>
                <td>{{u.hospital}}</td>
                <td>{{u.name}}</td>
              </tr>

             {% endfor %}
            </tbody>
          </table>
  </div>     

<div>
       <div class='span6'>
          <ul>
            <li><b>Phone:</b> {{userdata.mobile}}</li>
            <li><b>Job Type:</b> {{userdata.jobtype}}</li>
            <li><b>Home Hopsital:</b> {{userdata.homehospital}}</li>
            <li><b>Home Unit:</b> {{userdata.homeunit}}</li>
          </ul>
       </div>

       <div class='span6'>
           <form method='post' >{% csrf_token %}
            {{changeform.as_p}}
            <input type='submit' name='userforminfo'>
           </form>
       </div>
</div>
</div> -->


          <div class="page-header position-relative">
            <h1>
              Settings
              <small>
                <i class="icon-double-angle-right"></i>
                Manage settings and unit subscriptions
              </small>
            </h1>
          </div><!-- /.page-header -->

  <div class="row-fluid">
            <div class="span12">
              <!-- PAGE CONTENT BEGINS -->

              <div class="row-fluid">
                <div class="span12">
                  <table id="sample-table-1" class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th></th>
                <th>Location</th>
                <th>Unit</th>
              </tr>
            </thead> 

                <tbody>
           {% for u in units %}
              <tr>
                <td>
                  <form method='post' style='margin:0'>{% csrf_token %}
                    <input type='hidden' value='{{u.fullslug}}' name='group'><input type='submit' name='groupsubscribe' value='Unsubscribed' id='{{u.fullslug}}' class='btn btn-danger btn-mini'/>
                  </form>
                </td>
                <td>{{u.hospital}}</td>
                <td>{{u.name}}</td>
              </tr>
             {% endfor %}
                    </tbody>
                  </table>
                </div><!-- /span -->
              </div><!-- /row -->



{% endblock %} 

{% block extrascripts %}{%load staticfiles%}
  <script type="text/javascript">
    {% for g in groups %}

    $('#{{g}}').addClass('btn-success').val("Subscribed").removeClass('btn-danger')

    {% endfor %}

  </script>
{% endblock %}
