<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />{% load staticfiles %}
		<title>{% block title %} Medistaff Home {% endblock %}</title>

		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<!-- basics -->
		<link rel="stylesheet" href="{% static 'main/assets/ace/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'main/assets/ace/css/bootstrap-responsive.min.css' %}" />
		<link rel="stylesheet" href="{% static 'main/assets/ace/css/font-awesome.min.css' %}" />
		<style type="text/css">
		.input-datetime{
			width: 120px
		}
		</style>			

		{% block head %}
		{% endblock %}
		<!--[if IE 7]>
		<link rel="stylesheet" href="{% static 'main/assets/ace/css/font-awesome-ie7.min.css' %}" />
		<![endif]-->	
		<link rel="stylesheet" href="{% static 'main/assets/ace/css/ace-fonts.css' %}" />
		<link rel="stylesheet" href="{% static 'main/assets/ace/css/ace.min.css' %}" />
		<link rel="stylesheet" href="{% static 'main/assets/ace/css/ace-responsive.min.css' %}" />
		<link rel="stylesheet" href="{% static 'main/assets/ace/css/ace-skins.min.css' %}" />

		<!--[if lte IE 8]>
		<link rel="stylesheet" href="{% static 'main/assets/ace/css/ace-ie.min.css' %}" />
		<![endif]-->
		<script src="{% static 'main/assets/ace/js/ace-extra.min.js' %}"></script>

	</head>

	<body>
		<div class="navbar" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-inner">
				<div class="container-fluid">
					<a href="#" class="brand">
						<small>
							<i class="icon-leaf"></i>
							MediStaff
						</small>
					</a><!-- /.brand -->

					<ul class="nav ace-nav pull-right">

						<li class="purple">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-bell-alt icon-animated-bell"></i>
								<span class="badge badge-important">8</span>
							</a>

							<ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-closer">
								<li class="nav-header">
									<i class="icon-warning-sign"></i>
									8 Notifications
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-mini no-hover btn-pink icon-comment"></i>
												New Comments
											</span>
											<span class="pull-right badge badge-info">+12</span>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="btn btn-mini btn-primary icon-user"></i>
										Bob just signed up as an editor ...
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-mini no-hover btn-success icon-shopping-cart"></i>
												New Orders
											</span>
											<span class="pull-right badge badge-success">+8</span>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-mini no-hover btn-info icon-twitter"></i>
												Followers
											</span>
											<span class="pull-right badge badge-info">+11</span>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										See all notifications
										<i class="icon-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="green">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-envelope icon-animated-vertical"></i>
								<span class="badge badge-success">{{postman_unread_count}}</span>
							</a>

							<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
								<li class="nav-header">
									<i class="icon-envelope-alt"></i>
									{{postman_unread_count}} Messages
								</li>

								<li>
									<a href="/messages">
										See all messages
										<i class="icon-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<span class="user-info">
									<small>Welcome,</small>
									{{user.first_name}}
								</span>

								<i class="icon-caret-down"></i>
							</a>

							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
								<li>
									<a href="{% url 'settings' user.homesystem|slugify %}">
										<i class="icon-cog"></i>
										Settings
									</a>
								</li>

								<li>
									<a href="{% url 'profile' user.homesystem|slugify user.username %}">
										<i class="icon-user"></i>
										Profile
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="/accounts/logout">
										<i class="icon-off"></i>
										Logout
									</a>
								</li>
							</ul>
						</li>
					</ul><!-- /.ace-nav -->
				</div><!-- /.container-fluid -->
			</div><!-- /.navbar-inner -->
		</div>

		<div class="main-container container-fluid">
			<a class="menu-toggler" id="menu-toggler" href="#">
				<span class="menu-text"></span>
			</a>



			<div class="sidebar" id="sidebar">
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
				</script>

				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<button class="btn btn-small btn-success">
							<i class="icon-signal"></i>
						</button>

						<button class="btn btn-small btn-info">
							<i class="icon-pencil"></i>
						</button>

						<button class="btn btn-small btn-warning">
							<i class="icon-group"></i>
						</button>

						<button class="btn btn-small btn-danger">
							<i class="icon-cogs"></i>
						</button>
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div>
				<!-- #sidebar-shortcuts -->

				<ul class="nav nav-list">
					<li>
						<a href="{% url 'home' user.homesystem|slugify %}">
							<i class="icon-home"></i>
							<span class="menu-text"> My Homepage </span>
						</a>
					</li>

					<li>
						<a href="{% url 'openshift' user.homesystem|slugify %}">
							<i class="icon-pencil"></i>
							<span class="menu-text"> OpenShift </span>
						</a>
					</li>

					<li>
						<a href="#" class="dropdown-toggle">
							<i class="icon-plus"></i>
							<span class="menu-text"> Hospitals </span>

							<b class="arrow icon-angle-down"></b>
						</a>

						<ul class="submenu">

						{% for h in allhospitals %}
							<li>
								<a href="{% url 'hospital' user.homesystem|slugify h.slug %} " class="dropdown-toggle">
									<i class="icon-double-angle-right"></i>
									{{h.name}}
								</a>
							</li>
         				{% endfor %}

						</ul>
					</li>

					<li>
						<a href="#" class="dropdown-toggle">
							<i class="icon-tasks"></i>
							<span class="menu-text"> Units </span>

							<b class="arrow icon-angle-down"></b>
						</a>

						<ul class="submenu">

						{% for h in allhospitals %}
							<li>
								<a href="#" class="dropdown-toggle">
									<i class="icon-double-angle-right"></i>
									{{h.name}}
								</a>

								<ul class="submenu">
								  {% for u in allunits %}{% ifequal u.hospital|lower h.name|lower %}
									<li>
										<a href="{% url 'unit' user.homesystem|slugify h.slug u.slug %}">
											<i class="icon-leaf"></i>
											{{u.name}}
										</a>
									</li>
								  {%else%}{% endifequal %}{% endfor %}
								</ul>
							</li>
         				{% endfor %}

						</ul>
					</li>
 
					<li>
						<a href="#" class="dropdown-toggle">
							<i class="icon-signal"></i>
							<span class="menu-text"> Analysis </span>

							<b class="arrow icon-angle-down"></b>
						</a>

						<ul class="submenu">
							<li>
								<a href="tables.html">
									<i class="icon-double-angle-right"></i>
									Cost Reduction
								</a>
							</li>

							<li>
								<a href="tables.html">
									<i class="icon-double-angle-right"></i>
									Census Prediction
								</a>
							</li>

							<li>
								<a href="jqgrid.html">
									<i class="icon-double-angle-right"></i>
									Staffing Mix
								</a>
							</li>
							<li>
								<a href="">
									<i class="icon-double-angle-right"></i>
									Data Pull
								</a>
							</li>
						</ul>
					</li>

					<li>
						<a href="#" class='dropdown-toggle'>
							<i class="icon-calendar"></i>
							<span class="menu-text">Scheduling</span>

							<b class="arrow icon-angle-down"></b>
						</a>
						<ul class="submenu">
							<li>
								<a href="{% url 'calendar' user.homesystem|slugify %}">
									<i class="icon-double-angle-right"></i>
									Calendar
								</a>
							</li>

							<li>
								<a href="jqgrid.html">
									<i class="icon-double-angle-right"></i>
									My Schedule
								</a>
							</li>
							<li>
								<a href="{% url 'inputdates' user.homesystem|slugify %}">
									<i class="icon-double-angle-right"></i>
									Input Dates
								</a>
							</li>
						</ul>

					</li>

					<li>
						<a href="#" class="dropdown-toggle">
							<i class="icon-tag"></i>
							<span class="menu-text"> Events </span>
						</a>
					</li>

				</ul><!-- /.nav-list -->

				<div class="sidebar-collapse" id="sidebar-collapse">
					<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
				</div>

				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
				</script>
			</div><!-- /sidebar -->

			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
					</script>

					<ul class="breadcrumb">
						<li>
							<i class="icon-home home-icon"></i>
							<a href="#">Home</a>

							<span class="divider">
								<i class="icon-angle-right arrow-icon"></i>
							</span>
						</li>

						<li>
							<a href="#">Other Pages</a>

							<span class="divider">
								<i class="icon-angle-right arrow-icon"></i>
							</span>
						</li>
						<li class="active">Blank Page</li>
					</ul><!-- .breadcrumb -->

					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="input-small nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="icon-search nav-search-icon"></i>
							</span>
						</form>
					</div><!-- #nav-search -->
				</div>

				<div class="page-content">
							<!-- PAGE CONTENT BEGINS -->

{% block content %}{% endblock %}

							<!-- PAGE CONTENT ENDS -->
				</div><!-- /.page-content -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-small btn-inverse">
			<i class="icon-double-angle-up icon-only bigger-110"></i>
		</a>

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='/static/main/assets/ace/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='/static/main/assets/ace/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='/static/main/assets/ace/js/jquery.mobile.custom.min.js' %}'>"+"<"+"/script>");
		</script>
	    <script src="{% static 'main/assets/ace/js/date-time/bootstrap-datepicker.min.js' %}"></script>
	    <script src="{% static 'main/assets/ace/js/jqGrid/jquery.jqGrid.min.js' %}"></script>
	    <script src="{% static 'main/assets/ace/js/jqGrid/i18n/grid.locale-en.js' %}"></script>
		<script src="{% static 'main/assets/ace/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'main/assets/ace/js/ace-elements.min.js' %}"></script>
		<script src="{% static 'main/assets/ace/js/ace.min.js' %}"></script>



<!-- script for messages page -->
		<script type="text/javascript">
			$(function() {
			$('#pm_messages').addClass('table table-striped table-bordered table-hover')
			$('#pm_buttons button').addClass('btn btn-small')

	  		});
		</script>

{% block extrascripts %}
{% endblock %}
	</body>
</html>


